
@import 'common';
@import '_mixin';
@import '_variable';
@import 'screen';




.wrap{
    background: #202731;
    width: 500px;
    height: 500px;
    margin: 10% auto;
    position: relative;
    padding: 3%;
     
    @include browser(border-radius,20px)
}

ul{
    width: 100%;
    height: 100%;
    background: #121825;
    @include browser(border-radius,20px);
    padding: 15px;
    position: relative;

    li{
        width: 31.5%;
        height: 31.5%;
        float: left;
        background: #fffefe;
        margin-right: 2.7%;
        margin-bottom: 10px;
        @include browser(border-radius,20px);
        text-align: center;


        line-height:7rem;
        
    }
    li:nth-child(5){
        background: #16a6a7;
        color: #fff;
    }
    li:nth-child(3n){
        margin-right: 0px;
    }
    li:nth-child(7n){
        margin-bottom: 0px;
    }
}

.target{
    background: #9a2316;/*#*/
    color: #fff
}

.star{cursor: pointer}

.resultText{
    text-align: center
}


.none{display: none}















