

@import '_variable';//公共变量
@import '_mixin';//公共变量
@import 'common';//公共文件
@import 'keyframes';//动画


header {
    background: $headerColor;
    position: relative;
    z-index: 10;
    .layui-nav {
        background: none;
    }
    .logo {
        width: 83px;
        margin-right: 38px;
        @include browser('transform',translateY(50%));
        img {
            width: 100%;
        }
    }
    .layui-form-item {
        clear: none;
    }
    .layui-input-block {
        margin-left: 0;
    }
    input[type="text"]{
        color:#fff;
        font-size: 12px;
    }
    .layui-form-select {
        @include browser('transform',translateY(50%));
    }
    .layui-form-select .layui-input {
        background: #131e13;
        border: none;
        height: 30px;
        padding-right: 0;
    }
    .layui-select-title {
        i {
            display: none;
        }
    }

    nav .layui-nav-item {
        margin: 0 20px;
    }
    nav .layui-nav-item:nth-child(1) {
        margin: 0 20px 0 69px;
    }
    nav .layui-nav-item:nth-last-child(2){
        margin: 0 0 0 20px; 
    }

}

.banner {
    height: 600px;
    background: url($path+"banner0.jpg") center / cover;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 5;
    .banner-icon {
        font-size: 200px;
        color: #b5b7b5;
        position: absolute;
        top: 25px;
        left: 41%;
        font-style:normal;
        @include browser('animation',fly 10s 3s);
    }
    .banner-title {
        width: 551px;
        height: 55px;
        background: url($path+"desc.png")100% 100% /100% 100%;
        margin: 0 auto;
        position: relative;
        top: 276px;
        @include browser('animation',big .2s 9s);
    }
    .banner-text {
        position: relative;
        top: 305px;
        color: #ccc;
        @include browser('animation',big .2s 9s);
    }
    .layui-btn-lg {
        background: none;
        color: #ccc;
        font-size: 24px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        width: 233px;
        height: 62px;
        position: relative;
        top: 345px;
        .layui-icon {
            font-size: 30px;
            margin-right: 8px
        }
    }
    .banner-tips {
        position: relative;
        top: 360px;
        font-size: 12px;
        color: #ccc;
        a {
            color: #fff;
            margin: 0 .5%;
            text-decoration: underline;
        }
    }
    .banner-tips button {
        background: none;
        border: 1px solid rgba(255, 255, 255, 0.15);
        margin-top: 27px;
        color: #ccc;
    }
}

.introduction {
    padding-top: 50px;
    .layui-container{
        padding: 0
    }
    .introduction-item div {
        height: 210px;
        padding: 30px;
        border: 1px solid #ccc;
        .layui-elem-field {
            text-align: center
        }
        margin-right: 30px
    }
    .introduction-item div:nth-last-child(1) {
        margin-right: 0
    }
    .layui-col-md4 {
        width: 31%
    }

    .layui-elem-field{
        border-color: #ccc;
    }
    .layui-field-title{
        margin: 7px 0 20px;
    }
    .layui-elem-field legend{
        padding: 0 20px;
    }
    p {
        line-height: 24px;
    }
}

footer {
    padding: 88px 0 37px 0;
    text-align: center;
    .copyright {
        color: #666;
        a {
            margin: 0 .5%
        }
    }
    nav {
        margin: 10px 0 20px 0;
        a {
            margin: 0 5px;
        }
    }
    nav+p {
        color: #999;
    }
    img {
        width: 80px;
        height: 28px;
        margin-right: 8px;
    }
}

.fixed{
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 15px;
    right: 15px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}

@import 'screen';//响应式

