
//响应式属性
$valScreen: max-width,max-device-width;

//外圆
$OuterCircle:#24c7b8;

//odd
$oddColor:#1b7b54;

//even
$evenColor: #18b373;


//小转盘颜色
$smallTurntable:#d0f1dd;
$smallBg:#1cca69;

//线框颜色
$borderColor: #424242;

//字体颜色
$fontColor : #626262;




//图片路径
$imgUrl: './../../images/';

