
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 17px;
}

.none {
  display: none;
}

.result {
  text-align: center;
  margin-top: 1%;
  background: #24c7b8;
  color: #fff;
  font-size: 26px;
}

.wrap {
  width: 700px;
  height: 700px;
  position: absolute;
  left: 50%;
  margin-left: -350px;
  top: 50%;
  margin-top: -350px;
  background: #24c7b8;
  border-radius: 50%;
  top: 45%;
}

.wrap ul {
  width: 90%;
  height: 90%;
  position: absolute;
  left: 50%;
  margin-left: -45%;
  top: 50%;
  margin-top: -45%;
  border-radius: 50%;
  overflow: hidden;
  background: #166dab;
  box-shadow: 0px 0px 12px 2px #152c3c;
}

.wrap ul li:nth-child(1) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-transform-origin: center 315px 10px;
  -moz-transform-origin: center 315px 10px;
  -ms-transform-origin: center 315px 10px;
  -o-transform-origin: center 315px 10px;
  transform-origin: center 315px 10px;
}

.wrap ul li:nth-child(2) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-transform-origin: center 315px 10px;
  -moz-transform-origin: center 315px 10px;
  -ms-transform-origin: center 315px 10px;
  -o-transform-origin: center 315px 10px;
  transform-origin: center 315px 10px;
}

.wrap ul li:nth-child(3) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: center 315px 10px;
  -moz-transform-origin: center 315px 10px;
  -ms-transform-origin: center 315px 10px;
  -o-transform-origin: center 315px 10px;
  transform-origin: center 315px 10px;
}

.wrap ul li:nth-child(4) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
  -webkit-transform-origin: center 315px 10px;
  -moz-transform-origin: center 315px 10px;
  -ms-transform-origin: center 315px 10px;
  -o-transform-origin: center 315px 10px;
  transform-origin: center 315px 10px;
}

.wrap ul li:nth-child(5) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-transform-origin: center 315px 10px;
  -moz-transform-origin: center 315px 10px;
  -ms-transform-origin: center 315px 10px;
  -o-transform-origin: center 315px 10px;
  transform-origin: center 315px 10px;
}

.wrap ul li:nth-child(6) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: center 315px 10px;
  -moz-transform-origin: center 315px 10px;
  -ms-transform-origin: center 315px 10px;
  -o-transform-origin: center 315px 10px;
  transform-origin: center 315px 10px;
}

.wrap ul li:nth-child(7) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg);
  -webkit-transform-origin: center 315px 10px;
  -moz-transform-origin: center 315px 10px;
  -ms-transform-origin: center 315px 10px;
  -o-transform-origin: center 315px 10px;
  transform-origin: center 315px 10px;
}

.wrap ul li:nth-child(8) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-transform-origin: center 315px 10px;
  -moz-transform-origin: center 315px 10px;
  -ms-transform-origin: center 315px 10px;
  -o-transform-origin: center 315px 10px;
  transform-origin: center 315px 10px;
}

.wrap ul li:nth-child(9) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transform-origin: center 315px 10px;
  -moz-transform-origin: center 315px 10px;
  -ms-transform-origin: center 315px 10px;
  -o-transform-origin: center 315px 10px;
  transform-origin: center 315px 10px;
}

.wrap ul li:nth-child(10) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  transform: rotate(300deg);
  -webkit-transform-origin: center 315px 10px;
  -moz-transform-origin: center 315px 10px;
  -ms-transform-origin: center 315px 10px;
  -o-transform-origin: center 315px 10px;
  transform-origin: center 315px 10px;
}

.wrap ul li:nth-child(11) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);
  -webkit-transform-origin: center 315px 10px;
  -moz-transform-origin: center 315px 10px;
  -ms-transform-origin: center 315px 10px;
  -o-transform-origin: center 315px 10px;
  transform-origin: center 315px 10px;
}

.wrap ul li:nth-child(12) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transform-origin: center 315px 10px;
  -moz-transform-origin: center 315px 10px;
  -ms-transform-origin: center 315px 10px;
  -o-transform-origin: center 315px 10px;
  transform-origin: center 315px 10px;
}

.wrap ul li:nth-child(odd):after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 89px solid transparent;
  border-right: 89px solid transparent;
  border-top: 308px solid #1b7b54;
}

.wrap ul li:nth-child(even):after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 89px solid transparent;
  border-right: 89px solid transparent;
  border-top: 308px solid #18b373;
}

.wrap .title {
  width: 10%;
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  position: absolute;
  left: 50%;
  margin-left: -5%;
  top: 50%;
  margin-top: -65%;
}

.wrap .pointerDisk {
  width: 20%;
  height: 20%;
  position: absolute;
  left: 50%;
  margin-left: -10%;
  top: 50%;
  margin-top: -10%;
  background: #d0f1dd;
  border-radius: 50%;
  text-align: center;
  line-height: 7rem;
  color: #fff;
}

.wrap .pointerDisk .internal {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 50%;
  margin-left: -40%;
  top: 50%;
  margin-top: -40%;
  border-radius: 50%;
  background: #1cca69;
  box-shadow: 0px 0px 8px -1px #2a924f;
  cursor: pointer;
}

.wrap .pointerDisk .triangleUp {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 50px solid #d0f1dd;
  position: absolute;
  top: -45px;
  left: 39%;
}
