@charset "UTF-8";
/*  通用配置样式
------------------------------------------------------------------------------------------------------------------------------
    2017/11/15
    引用样式
-----------------------------------------------------------------------------------------------------------------------------*/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #333333;
  background-color: white;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #0088cc;
}

a:active {
  outline: 0;
}

a:active {
  color: #006699;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  vertical-align: middle;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html, button, input, select, textarea {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none outside none;
}

h1, h2, h3 {
  line-height: 2;
  font-weight: normal;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #cccccc;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #cccccc;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #cccccc;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*-------------------------------------------------------------------------------------------------------------------------------

mixin混合指令方法目录

    |
    |-- browser 浏览器兼容样式
    |
    |
    |-- browser_keyframes 浏览器动画兼容样式
    |
    |
    |-- screen 响应式 （可用变量存储多个值）(如果大于3个数量，目前使用 @each循环。 弊端是不能用逗号连接组合，待优化 )
    |
    |
    |-- b_img 背景图片样式封装
    |
    |       
    |-- position_Center 水平 / 垂直  居中样式封装
    |       
    |       
    |-- calc_Rem 计算rem    
    |       

--------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 414px), only screen and (max-device-width: 414px) {
  html, body {
    font-size: 22px;
  }
}

@media only screen and (max-width: 400px), only screen and (max-device-width: 400px) {
  html, body {
    font-size: 21.33px;
  }
}

@media only screen and (max-width: 375px), only screen and (max-device-width: 375px) {
  html, body {
    font-size: 20px;
  }
}

@media only screen and (max-width: 360px), only screen and (max-device-width: 360px) {
  html, body {
    font-size: 19.2px;
  }
}

@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
  html, body {
    font-size: 17px;
  }
}

.wrap {
  width: 700px;
  height: 700px;
  position: absolute;
  left: 50%;
  margin-left: -350px;
  top: 50%;
  margin-top: -350px;
  background: #24c7b8;
  border-radius: 50%;
}

.wrap ul {
  width: 90%;
  height: 90%;
  position: absolute;
  left: 50%;
  margin-left: -45%;
  top: 50%;
  margin-top: -45%;
  border-radius: 50%;
  overflow: hidden;
  background: #166dab;
  box-shadow: 0px 0px 12px 2px #152c3c;
}

.wrap ul li:nth-child(1) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-transform-origin: center 315px 10px;
  -moz-transform-origin: center 315px 10px;
  -ms-transform-origin: center 315px 10px;
  -o-transform-origin: center 315px 10px;
  transform-origin: center 315px 10px;
}

.wrap ul li:nth-child(2) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-transform-origin: center 315px 10px;
  -moz-transform-origin: center 315px 10px;
  -ms-transform-origin: center 315px 10px;
  -o-transform-origin: center 315px 10px;
  transform-origin: center 315px 10px;
}

.wrap ul li:nth-child(3) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: center 315px 10px;
  -moz-transform-origin: center 315px 10px;
  -ms-transform-origin: center 315px 10px;
  -o-transform-origin: center 315px 10px;
  transform-origin: center 315px 10px;
}

.wrap ul li:nth-child(4) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
  -webkit-transform-origin: center 315px 10px;
  -moz-transform-origin: center 315px 10px;
  -ms-transform-origin: center 315px 10px;
  -o-transform-origin: center 315px 10px;
  transform-origin: center 315px 10px;
}

.wrap ul li:nth-child(5) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-transform-origin: center 315px 10px;
  -moz-transform-origin: center 315px 10px;
  -ms-transform-origin: center 315px 10px;
  -o-transform-origin: center 315px 10px;
  transform-origin: center 315px 10px;
}

.wrap ul li:nth-child(6) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: center 315px 10px;
  -moz-transform-origin: center 315px 10px;
  -ms-transform-origin: center 315px 10px;
  -o-transform-origin: center 315px 10px;
  transform-origin: center 315px 10px;
}

.wrap ul li:nth-child(7) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg);
  -webkit-transform-origin: center 315px 10px;
  -moz-transform-origin: center 315px 10px;
  -ms-transform-origin: center 315px 10px;
  -o-transform-origin: center 315px 10px;
  transform-origin: center 315px 10px;
}

.wrap ul li:nth-child(8) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-transform-origin: center 315px 10px;
  -moz-transform-origin: center 315px 10px;
  -ms-transform-origin: center 315px 10px;
  -o-transform-origin: center 315px 10px;
  transform-origin: center 315px 10px;
}

.wrap ul li:nth-child(9) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transform-origin: center 315px 10px;
  -moz-transform-origin: center 315px 10px;
  -ms-transform-origin: center 315px 10px;
  -o-transform-origin: center 315px 10px;
  transform-origin: center 315px 10px;
}

.wrap ul li:nth-child(10) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  transform: rotate(300deg);
  -webkit-transform-origin: center 315px 10px;
  -moz-transform-origin: center 315px 10px;
  -ms-transform-origin: center 315px 10px;
  -o-transform-origin: center 315px 10px;
  transform-origin: center 315px 10px;
}

.wrap ul li:nth-child(11) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);
  -webkit-transform-origin: center 315px 10px;
  -moz-transform-origin: center 315px 10px;
  -ms-transform-origin: center 315px 10px;
  -o-transform-origin: center 315px 10px;
  transform-origin: center 315px 10px;
}

.wrap ul li:nth-child(12) {
  position: absolute;
  left: 50%;
  margin-left: -90px;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transform-origin: center 315px 10px;
  -moz-transform-origin: center 315px 10px;
  -ms-transform-origin: center 315px 10px;
  -o-transform-origin: center 315px 10px;
  transform-origin: center 315px 10px;
}

.wrap ul li:nth-child(odd):after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 89px solid transparent;
  border-right: 89px solid transparent;
  border-top: 308px solid #1b7b54;
}

.wrap ul li:nth-child(even):after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 89px solid transparent;
  border-right: 89px solid transparent;
  border-top: 308px solid #18b373;
}

.wrap .title {
  width: 10%;
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  position: absolute;
  left: 50%;
  margin-left: -5%;
  top: 50%;
  margin-top: -65%;
}

.wrap .pointerDisk {
  width: 20%;
  height: 20%;
  position: absolute;
  left: 50%;
  margin-left: -10%;
  top: 50%;
  margin-top: -10%;
  background: #d0f1dd;
  border-radius: 50%;
  text-align: center;
  line-height: 7rem;
  color: #fff;
}

.wrap .pointerDisk .internal {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 50%;
  margin-left: -40%;
  top: 50%;
  margin-top: -40%;
  border-radius: 50%;
  background: #1cca69;
  box-shadow: 0px 0px 8px -1px #2a924f;
  cursor: pointer;
}

.wrap .pointerDisk .triangleUp {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 50px solid #d0f1dd;
  position: absolute;
  top: -45px;
  left: 39%;
}

.none {
  display: none;
}

.result {
  text-align: center;
  margin-top: 5%;
  background: #24c7b8;
  color: #fff;
}
