@font-face {
  font-family: layuiFont;
  src: url("../fonts/iconfont.woff");
}

.layui-l {
  float: left;
}

body {
  font: 14px layuiFont;
  background: #eee;
}

@-webkit-keyframes big {
  50% {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@-moz-keyframes big {
  50% {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@-ms-keyframes big {
  50% {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@-o-keyframes big {
  50% {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@keyframes big {
  50% {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@-webkit-keyframes fly {
  10% {
    font-size: 130px;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
    margin-left: 0;
  }
  20% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
    margin-left: 190px;
    font-size: 90px;
    opacity: 1;
  }
  30% {
    font-size: 0;
    opacity: 0;
    margin-left: 170px;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -ms-transform-origin: 50%;
    -o-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transform: rotate(500deg);
    -moz-transform: rotate(500deg);
    -ms-transform: rotate(500deg);
    -o-transform: rotate(500deg);
    transform: rotate(500deg);
  }
  35% {
    opacity: 0.2;
    font-size: 0px;
    -webkit-transform: rotate(1080deg) scale(3);
    -moz-transform: rotate(1080deg) scale(3);
    -ms-transform: rotate(1080deg) scale(3);
    -o-transform: rotate(1080deg) scale(3);
    transform: rotate(1080deg) scale(3);
  }
  50% {
    opacity: 0.1;
    -webkit-transform: rotate(2160deg) scale(4);
    -moz-transform: rotate(2160deg) scale(4);
    -ms-transform: rotate(2160deg) scale(4);
    -o-transform: rotate(2160deg) scale(4);
    transform: rotate(2160deg) scale(4);
  }
  60% {
    opacity: 0.3;
    -webkit-transform: rotate(0deg) scale(2);
    -moz-transform: rotate(0deg) scale(2);
    -ms-transform: rotate(0deg) scale(2);
    -o-transform: rotate(0deg) scale(2);
    transform: rotate(0deg) scale(2);
  }
  65% {
    opacity: 1;
    font-size: 200px;
    margin-left: 0px;
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
}

@-moz-keyframes fly {
  10% {
    font-size: 130px;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
    margin-left: 0;
  }
  20% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
    margin-left: 190px;
    font-size: 90px;
    opacity: 1;
  }
  30% {
    font-size: 0;
    opacity: 0;
    margin-left: 170px;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -ms-transform-origin: 50%;
    -o-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transform: rotate(500deg);
    -moz-transform: rotate(500deg);
    -ms-transform: rotate(500deg);
    -o-transform: rotate(500deg);
    transform: rotate(500deg);
  }
  35% {
    opacity: 0.2;
    font-size: 0px;
    -webkit-transform: rotate(1080deg) scale(3);
    -moz-transform: rotate(1080deg) scale(3);
    -ms-transform: rotate(1080deg) scale(3);
    -o-transform: rotate(1080deg) scale(3);
    transform: rotate(1080deg) scale(3);
  }
  50% {
    opacity: 0.1;
    -webkit-transform: rotate(2160deg) scale(4);
    -moz-transform: rotate(2160deg) scale(4);
    -ms-transform: rotate(2160deg) scale(4);
    -o-transform: rotate(2160deg) scale(4);
    transform: rotate(2160deg) scale(4);
  }
  60% {
    opacity: 0.3;
    -webkit-transform: rotate(0deg) scale(2);
    -moz-transform: rotate(0deg) scale(2);
    -ms-transform: rotate(0deg) scale(2);
    -o-transform: rotate(0deg) scale(2);
    transform: rotate(0deg) scale(2);
  }
  65% {
    opacity: 1;
    font-size: 200px;
    margin-left: 0px;
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
}

@-ms-keyframes fly {
  10% {
    font-size: 130px;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
    margin-left: 0;
  }
  20% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
    margin-left: 190px;
    font-size: 90px;
    opacity: 1;
  }
  30% {
    font-size: 0;
    opacity: 0;
    margin-left: 170px;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -ms-transform-origin: 50%;
    -o-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transform: rotate(500deg);
    -moz-transform: rotate(500deg);
    -ms-transform: rotate(500deg);
    -o-transform: rotate(500deg);
    transform: rotate(500deg);
  }
  35% {
    opacity: 0.2;
    font-size: 0px;
    -webkit-transform: rotate(1080deg) scale(3);
    -moz-transform: rotate(1080deg) scale(3);
    -ms-transform: rotate(1080deg) scale(3);
    -o-transform: rotate(1080deg) scale(3);
    transform: rotate(1080deg) scale(3);
  }
  50% {
    opacity: 0.1;
    -webkit-transform: rotate(2160deg) scale(4);
    -moz-transform: rotate(2160deg) scale(4);
    -ms-transform: rotate(2160deg) scale(4);
    -o-transform: rotate(2160deg) scale(4);
    transform: rotate(2160deg) scale(4);
  }
  60% {
    opacity: 0.3;
    -webkit-transform: rotate(0deg) scale(2);
    -moz-transform: rotate(0deg) scale(2);
    -ms-transform: rotate(0deg) scale(2);
    -o-transform: rotate(0deg) scale(2);
    transform: rotate(0deg) scale(2);
  }
  65% {
    opacity: 1;
    font-size: 200px;
    margin-left: 0px;
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
}

@-o-keyframes fly {
  10% {
    font-size: 130px;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
    margin-left: 0;
  }
  20% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
    margin-left: 190px;
    font-size: 90px;
    opacity: 1;
  }
  30% {
    font-size: 0;
    opacity: 0;
    margin-left: 170px;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -ms-transform-origin: 50%;
    -o-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transform: rotate(500deg);
    -moz-transform: rotate(500deg);
    -ms-transform: rotate(500deg);
    -o-transform: rotate(500deg);
    transform: rotate(500deg);
  }
  35% {
    opacity: 0.2;
    font-size: 0px;
    -webkit-transform: rotate(1080deg) scale(3);
    -moz-transform: rotate(1080deg) scale(3);
    -ms-transform: rotate(1080deg) scale(3);
    -o-transform: rotate(1080deg) scale(3);
    transform: rotate(1080deg) scale(3);
  }
  50% {
    opacity: 0.1;
    -webkit-transform: rotate(2160deg) scale(4);
    -moz-transform: rotate(2160deg) scale(4);
    -ms-transform: rotate(2160deg) scale(4);
    -o-transform: rotate(2160deg) scale(4);
    transform: rotate(2160deg) scale(4);
  }
  60% {
    opacity: 0.3;
    -webkit-transform: rotate(0deg) scale(2);
    -moz-transform: rotate(0deg) scale(2);
    -ms-transform: rotate(0deg) scale(2);
    -o-transform: rotate(0deg) scale(2);
    transform: rotate(0deg) scale(2);
  }
  65% {
    opacity: 1;
    font-size: 200px;
    margin-left: 0px;
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
}

@keyframes fly {
  10% {
    font-size: 130px;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
    margin-left: 0;
  }
  20% {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
    margin-left: 190px;
    font-size: 90px;
    opacity: 1;
  }
  30% {
    font-size: 0;
    opacity: 0;
    margin-left: 170px;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -ms-transform-origin: 50%;
    -o-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transform: rotate(500deg);
    -moz-transform: rotate(500deg);
    -ms-transform: rotate(500deg);
    -o-transform: rotate(500deg);
    transform: rotate(500deg);
  }
  35% {
    opacity: 0.2;
    font-size: 0px;
    -webkit-transform: rotate(1080deg) scale(3);
    -moz-transform: rotate(1080deg) scale(3);
    -ms-transform: rotate(1080deg) scale(3);
    -o-transform: rotate(1080deg) scale(3);
    transform: rotate(1080deg) scale(3);
  }
  50% {
    opacity: 0.1;
    -webkit-transform: rotate(2160deg) scale(4);
    -moz-transform: rotate(2160deg) scale(4);
    -ms-transform: rotate(2160deg) scale(4);
    -o-transform: rotate(2160deg) scale(4);
    transform: rotate(2160deg) scale(4);
  }
  60% {
    opacity: 0.3;
    -webkit-transform: rotate(0deg) scale(2);
    -moz-transform: rotate(0deg) scale(2);
    -ms-transform: rotate(0deg) scale(2);
    -o-transform: rotate(0deg) scale(2);
    transform: rotate(0deg) scale(2);
  }
  65% {
    opacity: 1;
    font-size: 200px;
    margin-left: 0px;
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
}

header {
  background: #0d1206;
  position: relative;
  z-index: 10;
}

header .layui-nav {
  background: none;
}

header .logo {
  width: 83px;
  margin-right: 38px;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
}

header .logo img {
  width: 100%;
}

header .layui-form-item {
  clear: none;
}

header .layui-input-block {
  margin-left: 0;
}

header input[type="text"] {
  color: #fff;
  font-size: 12px;
}

header .layui-form-select {
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
}

header .layui-form-select .layui-input {
  background: #131e13;
  border: none;
  height: 30px;
  padding-right: 0;
}

header .layui-select-title i {
  display: none;
}

header nav .layui-nav-item {
  margin: 0 20px;
}

header nav .layui-nav-item:nth-child(1) {
  margin: 0 20px 0 69px;
}

header nav .layui-nav-item:nth-last-child(2) {
  margin: 0 0 0 20px;
}

.banner {
  height: 600px;
  background: url("../images/banner0.jpg") center/cover;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 5;
}

.banner .banner-icon {
  font-size: 200px;
  color: #b5b7b5;
  position: absolute;
  top: 25px;
  left: 41%;
  font-style: normal;
  -webkit-animation: fly 10s 3s;
  -moz-animation: fly 10s 3s;
  -ms-animation: fly 10s 3s;
  -o-animation: fly 10s 3s;
  animation: fly 10s 3s;
}

.banner .banner-title {
  width: 551px;
  height: 55px;
  background: url("../images/desc.png") 100% 100%/100% 100%;
  margin: 0 auto;
  position: relative;
  top: 276px;
  -webkit-animation: big 0.2s 9s;
  -moz-animation: big 0.2s 9s;
  -ms-animation: big 0.2s 9s;
  -o-animation: big 0.2s 9s;
  animation: big 0.2s 9s;
}

.banner .banner-text {
  position: relative;
  top: 305px;
  color: #ccc;
  -webkit-animation: big 0.2s 9s;
  -moz-animation: big 0.2s 9s;
  -ms-animation: big 0.2s 9s;
  -o-animation: big 0.2s 9s;
  animation: big 0.2s 9s;
}

.banner .layui-btn-lg {
  background: none;
  color: #ccc;
  font-size: 24px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  width: 233px;
  height: 62px;
  position: relative;
  top: 345px;
}

.banner .layui-btn-lg .layui-icon {
  font-size: 30px;
  margin-right: 8px;
}

.banner .banner-tips {
  position: relative;
  top: 360px;
  font-size: 12px;
  color: #ccc;
}

.banner .banner-tips a {
  color: #fff;
  margin: 0 .5%;
  text-decoration: underline;
}

.banner .banner-tips button {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.15);
  margin-top: 27px;
  color: #ccc;
}

.introduction {
  padding-top: 50px;
}

.introduction .layui-container {
  padding: 0;
}

.introduction .introduction-item div {
  height: 210px;
  padding: 30px;
  border: 1px solid #ccc;
  margin-right: 30px;
}

.introduction .introduction-item div .layui-elem-field {
  text-align: center;
}

.introduction .introduction-item div:nth-last-child(1) {
  margin-right: 0;
}

.introduction .layui-col-md4 {
  width: 31%;
}

.introduction .layui-elem-field {
  border-color: #ccc;
}

.introduction .layui-field-title {
  margin: 7px 0 20px;
}

.introduction .layui-elem-field legend {
  padding: 0 20px;
}

.introduction p {
  line-height: 24px;
}

footer {
  padding: 88px 0 37px 0;
  text-align: center;
}

footer .copyright {
  color: #666;
}

footer .copyright a {
  margin: 0 .5%;
}

footer nav {
  margin: 10px 0 20px 0;
}

footer nav a {
  margin: 0 5px;
}

footer nav + p {
  color: #999;
}

footer img {
  width: 80px;
  height: 28px;
  margin-right: 8px;
}

.fixed {
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
}

@media screen and (max-width: 1160px) {
  .layui-main {
    width: auto;
  }
}

@media screen and (max-width: 995px) {
  header nav .layui-nav-item {
    margin: 0 !important;
  }
  .layui-nav {
    padding: 0 0 0 80px;
  }
  .introduction .introduction-item div {
    height: 300px;
  }
  .introduction .layui-col-md4 {
    width: 30%;
  }
}

@media screen and (max-width: 775px) {
  .layui-sm-hide {
    display: none !important;
  }
  .layui-nav {
    padding: 0 0 0 50%;
  }
  .banner {
    height: 300px;
  }
  .banner .layui-main {
    height: 100%;
  }
  .banner .banner-icon {
    left: 42%;
    top: 20px;
    font-size: 90px;
  }
  .banner .banner-title {
    top: 115px;
    width: 65%;
    height: auto;
    padding: 3.4%;
  }
  .banner .layui-btn-lg {
    top: 125px;
    border-radius: 25px;
    height: 40px;
    width: 150px;
    font-size: 16px;
    line-height: 40px;
  }
  .banner .layui-btn-lg .layui-icon {
    font-size: 28px;
    color: #fff;
  }
  .banner .banner-tips {
    top: 142px;
  }
  .banner .banner-tips button {
    margin-top: 10px;
  }
  .introduction {
    padding-top: 20px;
  }
  .introduction .layui-container {
    padding: 0 15px;
  }
  .introduction .layui-col-md4 {
    width: 100%;
  }
  .introduction .introduction-item div {
    height: auto;
    padding: 5.5%;
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 775px) and (min-width: 768px) {
  .layui-nav {
    padding: 0 0 0 30%;
  }
}

@media screen and (max-width: 660px) {
  .layui-nav {
    padding: 0 0 0 40%;
  }
}

@media screen and (max-width: 520px) {
  .layui-nav {
    padding: 0 0 0 30%;
  }
}

@media screen and (max-width: 450px) {
  .layui-nav {
    padding: 0 0 0 20%;
  }
}

@media screen and (max-width: 330px) {
  .layui-nav {
    padding: 0 0 0 10%;
  }
}
